<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Welcome to Furniture System</h1>
      <p>Select furniture from the catalog to view details.</p>
    </div>
  </div>

  @if (!furnitures) {
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">Loading...</div>
      <div class="col-md-4"></div>
    </div>
  }

  @if (furnitures && furnitures.length === 0) {
    <div class="row space-top">
      <div class="col-md-12">
        No furnitures
      </div>
    </div>
  }

  @if (furnitures && furnitures.length > 0) {
    <div class="row space-top">
      @for (f of furnitures; track f.id) {
        <div class="col-md-4">
          <div class="card text-white bg-primary">
            <div class="card-body">
              <blockquote class="card-blockquote">
                <img src="{{f.image}}" />
                <p>{{f.description | slice:0:11 }}...</p>
                <div class="pull-right">
                  <a [routerLink]="['/furniture/details/', f.id]" class="btn btn-info">Details</a>
                  @if (isUserAdmin) {
                    <a [routerLink]="['/furniture/edit/', f.id]" class="btn btn-info"
                    >Edit</a>
                  }
                  @if (isUserAdmin) {
                    <a (click)="deleteFurniture(f.id)" class="btn btn-danger">Delete</a>
                  }
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>